@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");

body {
  margin: 0;
  font-family: "Della Respira", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #eb5757, #000000);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
